sv_hostname "potes built with FiveM Basic Server!"
sets sv_projectName "[FiveM Basic Server] potes"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets tags "default, deployer"
sets locale "root-AQ"

sv_enforceGameBuild 3258
sv_licenseKey "cfxk_93PqwBiSSy4Gas8ovB0D_fD83"
sv_maxclients 48

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey "none"
set resources_useSystemChat true

## Default resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Admin permissions (CORRIGÉ)
add_principal identifier.license:9c5510d86637b073d9b89ad251c257d69266a320 group.admin
add_ace group.admin command allow
add_ace group.admin command.quit deny

## vMenu permissions (OBLIGATOIRE)
add_ace group.admin vMenu.Everything allow

ensure vMenus
ensure [Menus]
exec permissions.cfg
ensure pvp